@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700');

@font-face {
    font-family: 'Tondu';
    src: url('../fonts/Tondu-Beta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background: url("../images/background.png") center / cover no-repeat, #000;
    font-family: 'Nanum Gothic', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    touch-action: none;
}
#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 24px;
    font-size: 18px;
    color: #fff;
    background: rgba(0, 0, 0, 0.65);
    border: 2px solid #c00000;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    z-index: 5;
}

#backButton:hover {
    transform: scale(1.05);
}
#heading {
    text-align: center;
    font-size: 60px;
    margin-bottom: 32px;
    color: rgb(255, 179, 0);
    font-family: 'Tondu', sans-serif;
    letter-spacing: 5px;
}
#popupOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
#popup {
    background: #111;
    padding: 32px;
    border-radius: 18px;
    border: 2px solid #c00000;
    text-align: center;
}

#popupTitle {
    color: white;
    font-size: 36px;
    margin-bottom: 10px;
}

#popupMessage {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

#popup button {
    margin-top: 16px;
    padding: 10px 20px;
    background: #c00000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

canvas {
    display: block;
    border: 4px solid #333;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.203);
    box-shadow: 0 0 30px rgba(122, 0, 0, 0.4);
    max-width: 95vw;
    max-height: 75vh;
}

@media (max-width: 768px) {
    canvas{
        margin-bottom: 80px;
        max-width: 85vw;
        max-height: 65vh; 
    }
}

